* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: #f8c5cb ;
    background-image: url(../img/cielo.jpg);
    background-size: cover ;
}

#pack {
    background-color: #8000ff;
    background-image: url(../img/cielo.jpg);
    background-size: cover ;
}

#title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-width: 3px;
    border-radius: 25px;
    width: 625px;
    background-color: #AED6F1; /* Cambia esto por el color de tu preferencia */
    color: #FFFFFF; /* Cambia esto por el color de tu preferencia */
    border: rgb(226, 153, 226);
    border-style: solid;
}

#titulo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-width: 3px;
    border-radius: 25px;
    width: 500px;
    background-color: #AED6F1; /* Cambia esto por el color de tu preferencia */
    color: #FFFFFF; /* Cambia esto por el color de tu preferencia */
    border: rgb(226, 153, 226);
    border-style: solid;
}

H1 {
    border-color: #8000ff;
    background: linear-gradient(to right,#f88bd7, #8860d4, #89c4ec);
    background-clip: text;  
    -webkit-background-clip: text;
    color: transparent;
    animation: Color 3s linear infinite;
    animation-timing-function: linear;
    animation-direction: reverse;
    background-size: 500%;
}

.contenedor{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
    align-content:center;
}

.contenedor-3{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-evenly;
    align-content:space-around;
}

.baul{
    width: 50vw;
    height: 50vh;
    background:none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-around;
    align-content:space-around;
    /* align-items: center; */
}

.jarron{
    padding: 10px;
    width: 50vw;
    height: 50vh;
    background:none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-around;
    align-content:space-around;
    /* align-items: center; */
}

.olla{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-width: 3px;
    border-radius: 15px;
    width: 280px;
    height: 490px;
    background-color: #AED6F1; /* Cambia esto por el color de tu preferencia */
    color: #FFFFFF; /* Cambia esto por el color de tu preferencia */
    border: rgb(226, 153, 226);
    border-style: solid;
}

img{
    width: 260px;
    height: 470px;
}

#main{
    font-size: xx-large;
    width: 200px;
    height: 100px;
    color: white;
    position: relative;
    background-color: #AED6F1; /* Cambia esto por el color de tu preferencia */
    color: #FFFFFF; /* Cambia esto por el color de tu preferencia */
    border: rgb(226, 153, 226);
    border-style: solid;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#main::before{
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,#ff0000, #0000ff, #8000ff);
    background-size: 800%;
    border-radius: 10px;
    filter: blur(8px);
    animation: glow 10s linear infinite;
}

@keyframes Color{
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0%;
    }

    100% {
        background-position: 0% 0%;
    }
}

@keyframes glow{
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 400% 0%;
    }

    100% {
        background-position: 0% 0%;
    }
}

/* Estilo para los botones */
#si {
    background-color: #AED6F1; /* Cambia esto por el color de tu preferencia */
    color: #FFFFFF; /* Cambia esto por el color de tu preferencia */
    border: rgb(226, 153, 226);
    border-style: solid;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* Estilo para los botones cuando se pasa el cursor sobre ellos */
  #si:hover {
    background-color: #B19CD9; /* Cambia esto por el color de tu preferencia */
  }
  
  /* Estilo para los botones cuando están activos (presionados) */
  #si:active {
    background-color: #FF69B4; /* Cambia esto por el color de tu preferencia */
  }

  #no {
    background-color: #AED6F1; /* Cambia esto por el color de tu preferencia */
    color: #FFFFFF; /* Cambia esto por el color de tu preferencia */
    border: rgb(226, 153, 226);
    border-style: solid;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* Estilo para los botones cuando están activos (presionados) */
  #no:active {
    background-color: #FF69B4; /* Cambia esto por el color de tu preferencia */
  }